.frame-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background: #07092f;
    border-radius: 0 0 20px 0;
    overflow: hidden;
    .invite-item {
      display: flex;
      align-items: center;
      height: 100%;
      .icon-block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 20px 20px;
        .text-box {
            color: #fff;
        }
        .icon {
          color: #fff;
          margin-left: 10px;
          font-size: 20px;
        }
        &:hover {
          cursor: pointer;
          background: #2c2d4d;
        }
      }
    }
    .header-items {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      flex: 1;
      // border-right: 1px solid rgb(245, 245, 245);
      position: relative;
      .alert-circle-icon {
        position: absolute;
        background: #04796a;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #fff;
        top: 10px;
        right: 20px;
      }
      &.date-block {
        font-size: 22px;
        color: #5f6368;
        min-width: 120px;
        font-weight: 400;
      }
      &.icon-block {
        .icon {
          color: #fff;
          font-size: 22px;
          &.profile {
            font-size: 32px;
            color: #04796a;
          }
        }
        &:hover {
          cursor: pointer;
          background: #2c2d4d;
        }
      }
    }
  }
  