.videocall-page {
    .video-container {
      height: 100vh;
      width: 50%;
      object-fit: cover; // use "cover" to avoid distortion
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
    }
    .video-container-2 {
      height: 100vh;
      width: 50%;
      object-fit: cover; // use "cover" to avoid distortion
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
    }
  }
  