.header {
    background-color: #6264A7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    .logo {
      display: flex;
      align-items: center;
      width: 124px;
      img {
        width: 100%;
      }
      .help-text {
        font-size: 22px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 15px;
        color: #ffffff;
        // color: #5f6368;
      }
    }
    .action-btn {
      display: flex;
      align-items: center;
      .icon-block {
        font-size: 20px;
        padding: 10px;
        color: #ffffff;
      }
    }
  }
  