.footer-item {
    position: absolute;
    // border-radius: 20px 20px 0 0px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #07092f;
    z-index: 1;
    .left-item {
      display: flex;
      align-items: center;
      height: 100%;
      width: 350px;
      .icon-block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 20px;
        .text-box {
            color: #fff;
        }
        .icon {
          color: #fff;
          margin-left: 10px;
          font-size: 20px;
        }
        &:hover {
          cursor: pointer;
          background: #2c2d4d;
        }
      }
    }
    .center-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      .icon-block {
        background: #fff;
        border: 1px solid rgb(223, 223, 223);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        .icon {
          color: #2c2d4d;
          font-size: 15px;
          &.red {
            color: #d93025;
          }
        }
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 10px #ddd;
        }
        &.red-bg{
          background: #d93025;
          .icon{
            color: #fff;
          }
        }
      }
    }
    .right-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      width: 350px;
      .icon-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 146px;
        color: #ffffff;
        .icon {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .title {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
        }
        /*&:hover {
          cursor: pointer;
          background: #2c2d4d;
        }*/
      }
    }
  }
  